SUPABASE_URL=https://vzfcpmbepcixfqmiqocw.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6ZmNwbWJlcGNpeGZxbWlxb2N3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTg3MDksImV4cCI6MjA5MDAzNDcwOX0.mMGDgfa9NGaSzQg6TpWGy0vXW7JjqDm65AZ3EHGyiz8
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6ZmNwbWJlcGNpeGZxbWlxb2N3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDQ1ODcwOSwiZXhwIjoyMDkwMDM0NzA5fQ.VHkMlPmmRGDJFw1iAvIURpHn576N-emagCcfUexirIc
HMAC_SECRET_KEY= vaultX01
AES_SECRET_KEY= vaultX001
GEMINI_API_KEY =AIzaSyB0OWK1lBAVGnxhu2tgt8aznYeveDockR0
HIBP_API_KEY=
FRONTEND_URL=https://vaultx-1-4rxr.onrender.com
PORT=5000
